/* Movie App Layout and Containers */

/* Main app container */
.movie-app {
    position: relative;
    width: 375px;
    height: 2845px;
    background: #FFFFFF;
}

/* Profile and Settings Container */
.profile-settings-container {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    position: absolute;
    visibility: hidden;
    width: 136px;
    height: 40px;
    left: 208px;
    top: 55px;
}

.profile-settings-container .profile {
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.profile-settings-container .setting {
    width: 40px;
    height: 40px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.profile-settings-container .more {
    width: 40px;
    height: 40px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

/* Main container */
.main-container {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 375px;
    height: 2612px;
    left: 0px;
    top: 135px;
}

/* Frame container */
.frame-container {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 375px;
    height: 2085px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}