/* Page Indicators */

/* indicator */
.page-indicators {
    box-sizing: border-box;
    position: relative;
    width: 357px;
    height: 58px;
    left: 575px;
    top: 547px;
    background: #BCBCBC;
    border: 1px dashed #8A38F5;
    border-radius: 5px;
}

/* Step indicators */
.step-indicator {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
    gap: 8px;
    position: absolute;
    width: 66px;
    height: 18px;
}

.step-indicator.step-1 {
    left: calc(50% - 66px/2 - 125.5px);
    top: 20px;
}

.step-indicator.step-2 {
    left: calc(50% - 66px/2 - 42.5px);
    top: 20px;
}

.step-indicator.step-3 {
    left: calc(50% - 66px/2 + 40.5px);
    top: 20px;
}

/* Page Indicator */
.page-indicator {
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, 0.5);
    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
}

/* Active page indicator */
.page-indicator.active {
    width: 10px;
    height: 10px;
    background: #FFFFFF;
}

/* Pagination title */
.pagination-title {
    position: absolute;
    width: 251px;
    height: 58px;
    left: 40px;
    top: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */
    color: #000000;
}