/* Pagination Container Styles */

/* pagination */
.pagination-container {
    box-sizing: border-box;
    position: relative;
    width: 1031px;
    height: 906px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

/* pagination/ sp */
.pagination-container .pagination-section {
    box-sizing: border-box;
    position: relative;
    width: 368px;
    height: 238px;
    left: 575px;
    top: 261px;
    border: 1px dashed #8A38F5;
    border-radius: 5px;
}